<div class="table-responsive" name="">
                    <table class="table table-hover">
                        <tr>
                            <td colspan={count($titulares)}>
                                <button href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                                    <span id = "hideshowmenu" class="glyphicon glyphicon-arrow-left"></span>
                                </button>
                                <button class="btn btn-success">
                                    <span id = "hideshowmenu" class="glyphicon glyphicon-plus"></span> Nuevo
                                </button>
                                <button class="btn btn-danger">
                                    <span id = "hideshowmenu" class="glyphicon glyphicon-trash"></span> Eliminar
                                </button>
                                <button class="btn btn-info">
                                    <span id = "hideshowmenu" class="glyphicon glyphicon-floppy-saved"></span> Guardar
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                        </tr>
                        {$i = 1}
                        {section name=titulares loop=$titulares}
                        <tr>
                            <td>{$titulares[$i]->id}</td>
                            <td>{$titulares[$i]->nombre}</td>
                            {$i = $i + 1}
                        </tr>
                        {/section}
                    </table>
                </div>